In [1]:
import numpy as np
import pandas as pd
import json
from pandas import Series, DataFrame

db = json.load(open('foods-2011-10-03.json'))

In [3]:
# db.head(10)
len(db)

6636

In [13]:
print(db[0].keys())
print(db[0]['id'])
print(db[0]['nutrients'][0])

dict_keys(['id', 'description', 'tags', 'manufacturer', 'group', 'portions', 'nutrients'])
1008
{'value': 25.18, 'units': 'g', 'description': 'Protein', 'group': 'Composition'}

In [15]:
nutrients = DataFrame(db[0]['nutrients'])
print(nutrients.head(10))

     value units                  description        group
0    25.18     g                      Protein  Composition
1    29.20     g            Total lipid (fat)  Composition
2     3.06     g  Carbohydrate, by difference  Composition
3     3.28     g                          Ash        Other
4   376.00  kcal                       Energy       Energy
5    39.28     g                        Water  Composition
6  1573.00    kJ                       Energy       Energy
7     0.00     g         Fiber, total dietary  Composition
8   673.00    mg                  Calcium, Ca     Elements
9     0.64    mg                     Iron, Fe     Elements

In [17]:
# change the order of the cols
nutrients = nutrients[['description', 'group', 'units', 'value']]
print(nutrients.head(10))

# can use obj.rename()

                   description        group units    value
0                      Protein  Composition     g    25.18
1            Total lipid (fat)  Composition     g    29.20
2  Carbohydrate, by difference  Composition     g     3.06
3                          Ash        Other     g     3.28
4                       Energy       Energy  kcal   376.00
5                        Water  Composition     g    39.28
6                       Energy       Energy    kJ  1573.00
7         Fiber, total dietary  Composition     g     0.00
8                  Calcium, Ca     Elements    mg   673.00
9                     Iron, Fe     Elements    mg     0.64

In [18]:
info_keys = ['description', 'group', 'id', 'manufacturer']
info = DataFrame(db, columns=info_keys)
info.head(5)

,description,group,id,manufacturer
0,"Cheese, caraway",Dairy and Egg Products,1008,
1,"Cheese, cheddar",Dairy and Egg Products,1009,
2,"Cheese, edam",Dairy and Egg Products,1018,
3,"Cheese, feta",Dairy and Egg Products,1019,
4,"Cheese, mozzarella, part skim milk",Dairy and Egg Products,1028,

In [19]:
pd.value_counts(info.group)[:10]

Vegetables and Vegetable Products    812
Beef Products                        618
Baked Products                       496
Breakfast Cereals                    403
Legumes and Legume Products          365
Fast Foods                           365
Lamb, Veal, and Game Products        345
Sweets                               341
Pork Products                        328
Fruits and Fruit Juices              328
Name: group, dtype: int64

In [21]:
nutrients = []
for rec in db:
    fnuts = DataFrame(rec['nutrients'])
    fnuts['id'] = rec['id']
    nutrients.append(fnuts)

nutrients = pd.concat(nutrients, ignore_index=True)

print(nutrients.head(5))

    value units                  description        group    id
0   25.18     g                      Protein  Composition  1008
1   29.20     g            Total lipid (fat)  Composition  1008
2    3.06     g  Carbohydrate, by difference  Composition  1008
3    3.28     g                          Ash        Other  1008
4  376.00  kcal                       Energy       Energy  1008

In [22]:
print(nutrients.duplicated().sum())
nutrients = nutrients.drop_duplicates()

14179

In [24]:
col_mapping = {'description' : 'food', 'group' : 'fgroup'}
info = info.rename(columns=col_mapping, copy=False)
col_mapping = {'description' : 'nutrient', 'group' : 'nutgroup'}
nutrients = nutrients.rename(columns=col_mapping, copy=False)

In [27]:
ndata = pd.merge(nutrients, info, on='id', how='outer')
ndata.iloc[30000]

value                                             0.04
units                                                g
nutrient                                       Glycine
nutgroup                                   Amino Acids
id                                                6158
food            Soup, tomato bisque, canned, condensed
fgroup                      Soups, Sauces, and Gravies
manufacturer
Name: 30000, dtype: object