# python 处理时间序列

In [19]:
from  datetime import datetime
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from pandas import Series, DataFrame

now = datetime.now()
print(now)
print(type(now))

2020-12-23 15:12:43.488546
<class 'datetime.datetime'>

In [3]:
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24)

print(delta)
print(delta.days)
print(delta.seconds)

927 days, 0:00:00
927
0

In [5]:
from datetime import timedelta

start = datetime(2011, 1, 7)
print(start + timedelta(12))

2011-01-19 00:00:00

In [7]:
stamp = datetime(2011, 1, 3)
print(str(stamp))
print(stamp.strftime('%Y-%m-%d'))

2011-01-03 00:00:00
2011-01-03

In [10]:
value = '2011-01-03'
value2 = datetime.strptime(value, '%Y-%m-%d')
print(value2)
print(value2.year)

2011-01-03 00:00:00
2011

In [12]:
from dateutil.parser import parse

print(parse('2011-01-03'))
print(parse('2011/01/03'))
print(parse('Jan 31, 1997 10:45 PM'))

2011-01-03 00:00:00
2011-01-03 00:00:00
1997-01-31 22:45:00

In [13]:
parse('6/12/2011', dayfirst=True)

datetime.datetime(2011, 12, 6, 0, 0)

In [15]:
datestrs = ['7/6/2011', '8/6/2011']
pd.to_datetime(datestrs)

DatetimeIndex(['2011-07-06', '2011-08-06'], dtype='datetime64[ns]', freq=None)

In [16]:
idx = pd.to_datetime(datestrs + [None])
print(idx)

DatetimeIndex(['2011-07-06', '2011-08-06', 'NaT'], dtype='datetime64[ns]', freq=None)

In [17]:
pd.isnull(idx)

array([False, False,  True])

In [48]:
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5), datetime(2011, 1, 7), datetime(2011, 1, 8), datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = Series(np.random.randn(6), index=dates)

In [21]:
ts[::2]

2011-01-02   -0.193184
2011-01-07    0.503703
2011-01-10   -2.093593
dtype: float64

In [22]:
ts + ts[::2]

2011-01-02   -0.386368
2011-01-05         NaN
2011-01-07    1.007405
2011-01-08         NaN
2011-01-10   -4.187187
2011-01-12         NaN
dtype: float64

In [23]:
ts.index.dtype

dtype('<M8[ns]')

In [24]:
stamp = ts.index[2]
print(ts[stamp])

0.5037026828405565

In [25]:
print(ts['1/10/2011'])
print(ts['20110110'])

-2.093593471537489
-2.093593471537489

In [28]:
longer_ts = Series(np.random.randn(1000), index=pd.date_range('1/1/2000', periods=1000))
# print(longer_ts['2000-07'])
print(longer_ts['2000-07':'2000-09'])

2000-07-01   -0.119803
2000-07-02    0.219543
2000-07-03   -1.128966
2000-07-04    0.560894
2000-07-05    0.474250
                ...
2000-09-26   -0.369738
2000-09-27   -0.139594
2000-09-28    0.158991
2000-09-29    1.085510
2000-09-30    1.881354
Freq: D, Length: 92, dtype: float64

In [33]:
longer_ts[datetime(2000, 1, 7):datetime(2000, 1, 15)]

2000-01-07   -0.243819
2000-01-08    1.179146
2000-01-09   -1.849969
2000-01-10    0.789760
2000-01-11    0.383165
2000-01-12    0.013994
2000-01-13    0.230404
2000-01-14    0.142618
2000-01-15   -0.778218
Freq: D, dtype: float64

In [37]:
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = DataFrame(np.random.randn(100, 4),
                    index=dates,
                    columns=['Colorado', 'Texax', 'New York', 'Ohio'])
long_df.loc['5-2001']

            Colorado     Texax  New York      Ohio
2001-05-02  2.667267  0.238427 -0.417353  0.560113
2001-05-09  0.639137  1.347785 -0.971710 -0.591135
2001-05-16  0.180251 -1.503195 -2.210841 -1.020495
2001-05-23  1.405288 -0.286554  0.183229  0.286215
2001-05-30 -2.013522  2.571702  0.301619  0.760782

In [38]:
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000', '1/2/2000', '1/3/2000'])
dup_ts = Series(np.arange(5), index=dates)

In [39]:
dup_ts.index.is_unique

False

In [42]:
grouped = dup_ts.groupby(level=0)
grouped.mean()
grouped.count()

2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

In [62]:
print(ts)

ts_resampler = ts.resample('D')

list(ts_resampler)[0][0].year

2011-01-02   -0.194720
2011-01-05   -0.989871
2011-01-07    0.314291
2011-01-08   -1.886763
2011-01-10    0.418489
2011-01-12   -0.154136
dtype: float64

2011

In [68]:
index = pd.date_range('4/1/2012', '6/5/2012', freq='W-WED')
print(index)

DatetimeIndex(['2012-04-04', '2012-04-11', '2012-04-18', '2012-04-25',
               '2012-05-02', '2012-05-09', '2012-05-16', '2012-05-23',
               '2012-05-30'],
              dtype='datetime64[ns]', freq='W-WED')

In [70]:
pd.date_range(start='4/1/2012', periods=20)

DatetimeIndex(['2012-04-01', '2012-04-02', '2012-04-03', '2012-04-04',
               '2012-04-05', '2012-04-06', '2012-04-07', '2012-04-08',
               '2012-04-09', '2012-04-10', '2012-04-11', '2012-04-12',
               '2012-04-13', '2012-04-14', '2012-04-15', '2012-04-16',
               '2012-04-17', '2012-04-18', '2012-04-19', '2012-04-20'],
              dtype='datetime64[ns]', freq='D')

In [71]:
pd.date_range('1/1/2000', '12/31/2000', freq='BM')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30', '2000-12-29'],
              dtype='datetime64[ns]', freq='BM')

In [72]:
pd.date_range('5/2/2012 12:56:31', periods=5, normalize=True)

DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [74]:
from pandas.tseries.offsets import Hour, Minute
hour = Hour()
type(hour)
print(hour)

<Hour>

In [75]:
four_hours = Hour(4)
print(four_hours)

In [76]:
pd.date_range('1/1/2000', periods=10, freq='1h30min')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

In [78]:
rng = pd.date_range('1/1/2012', '9/1/2012', freq='WOM-3FRI')
print(rng)

DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [80]:
ts = Series(np.random.randn(4), index=pd.date_range('1/1/2000', periods=4, freq='M'))
print(ts)

2000-01-31   -0.955308
2000-02-29   -0.584367
2000-03-31    0.788696
2000-04-30   -0.469919
Freq: M, dtype: float64

In [82]:
print(ts.shift(2))
print(ts.shift(-2))

2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.955308
2000-04-30   -0.584367
Freq: M, dtype: float64
2000-01-31    0.788696
2000-02-29   -0.469919
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

In [83]:
ts / ts.shift(1) - 1

2000-01-31         NaN
2000-02-29   -0.388295
2000-03-31   -2.349659
2000-04-30   -1.595818
Freq: M, dtype: float64

In [84]:
ts.shift(2, freq='M')

2000-03-31   -0.955308
2000-04-30   -0.584367
2000-05-31    0.788696
2000-06-30   -0.469919
Freq: M, dtype: float64

In [85]:
from pandas.tseries.offsets import Day, MonthEnd

now = datetime(2011, 11, 17)
now + MonthEnd()

Timestamp('2011-11-30 00:00:00')

In [86]:
offset = MonthEnd()

ts = Series(np.random.randn(20), index=pd.date_range('1/15/2000', periods=20, freq='4d'))
ts.groupby(offset.rollforward).mean()

2000-01-31   -0.457826
2000-02-29   -0.476799
2000-03-31   -0.414587
dtype: float64

In [87]:
import pytz

pytz.common_timezones[-5:]

['US/Eastern', 'US/Hawaii', 'US/Mountain', 'US/Pacific', 'UTC']

In [88]:
tz = pytz.timezone('UTC')

pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')

DatetimeIndex(['2012-03-09 09:30:00+00:00', '2012-03-10 09:30:00+00:00',
               '2012-03-11 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00', '2012-03-16 09:30:00+00:00',
               '2012-03-17 09:30:00+00:00', '2012-03-18 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='D')