# python 文件读取

In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [4]:
test_input = pd.read_table('input_file_test.txt', sep=',', header=0)
print(test_input)

        a   b   c   d
first   1   2   3   4
secnod  2   3   4   5
third   3   4   5   6
fourth  4   5   6   7

In [9]:
dates = pd.date_range('1/1/2000', periods=31)
print(dates)

DatetimeIndex(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04',
               '2000-01-05', '2000-01-06', '2000-01-07', '2000-01-08',
               '2000-01-09', '2000-01-10', '2000-01-11', '2000-01-12',
               '2000-01-13', '2000-01-14', '2000-01-15', '2000-01-16',
               '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
               '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24',
               '2000-01-25', '2000-01-26', '2000-01-27', '2000-01-28',
               '2000-01-29', '2000-01-30', '2000-01-31'],
              dtype='datetime64[ns]', freq='D')

In [11]:
ts = Series(np.arange(31), index=dates)
ts.to_csv('tseries.csv', index=True, header=False)

In [20]:
test = pd.read_csv('tseries.csv', header=None, index_col=0)
print(test[1].head())
print(test[1].index)
type(test[1])

0
2000-01-01    0
2000-01-02    1
2000-01-03    2
2000-01-04    3
2000-01-05    4
Name: 1, dtype: int64
Index(['2000-01-01', '2000-01-02', '2000-01-03', '2000-01-04', '2000-01-05',
       '2000-01-06', '2000-01-07', '2000-01-08', '2000-01-09', '2000-01-10',
       '2000-01-11', '2000-01-12', '2000-01-13', '2000-01-14', '2000-01-15',
       '2000-01-16', '2000-01-17', '2000-01-18', '2000-01-19', '2000-01-20',
       '2000-01-21', '2000-01-22', '2000-01-23', '2000-01-24', '2000-01-25',
       '2000-01-26', '2000-01-27', '2000-01-28', '2000-01-29', '2000-01-30',
       '2000-01-31'],
      dtype='object', name=0)

pandas.core.series.Series

In [22]:
# Series.from_csv('tseries.csv', parse_dates=True)     out of date

In [45]:
import csv
f = open('ex7.csv')
reader = csv.reader(f)
# print(reader)

lines = list(reader)

f.close()

In [50]:
header, values = lines[0], lines[1:]
# print(values)
print(list(zip(*values)))
data_dict = {h: v for h, v in zip(header, zip(*values))}

[('1', '1'), (' "2"', ' "2"'), (' "3"', ' "3"')]

In [65]:
class my_dialect(csv.Dialect):
    lineterminator = '\n'
    delimiter = ';'
    quotechar = '"'
    quoting = csv.QUOTE_MINIMAL

reader = csv.reader(open('ex8.csv'), dialect=my_dialect)
lines = list(reader)
print(lines[0])

['a', ' "b"', ' "c"']

# JSON

In [66]:
import json

obj = """
{"name": "Wes",
 "places_lived": ["United States", "Spain", "Germany"],
 "pet": null,
 "siblings": [{"name": "Scott", "age": 28}, {"name": "Katie", "age": 33}]}
"""

result = json.loads(obj)
result

{'name': 'Wes',
 'places_lived': ['United States', 'Spain', 'Germany'],
 'pet': None,
 'siblings': [{'name': 'Scott', 'age': 28}, {'name': 'Katie', 'age': 33}]}

In [67]:
ajson = json.dumps(result)
print(ajson)

{"name": "Wes", "places_lived": ["United States", "Spain", "Germany"], "pet": null, "siblings": [{"name": "Scott", "age": 28}, {"name": "Katie", "age": 33}]}

In [70]:
print(result['siblings'])
siblings = DataFrame(result['siblings'], columns=['name', 'age'])
print(siblings)

[{'name': 'Scott', 'age': 28}, {'name': 'Katie', 'age': 33}]
    name  age
0  Scott   28
1  Katie   33